<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>offers</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/places/tabs/offers/new">
        <ion-icon slot="start" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" *ngIf="!isLoading && (!offers || offers.length > 0)">
        <ion-list>
          <ion-item-sliding *ngFor="let offer of offers">
            <app-offer-item [offer]="offer"></app-offer-item>
            <ion-item-options>
              <ion-item-option
                color="primary"
                (click)="onEdit(offer.id)"
                [routerLink]="['/','places','tabs','offers', 'edit', offer.id]"
              >
                <ion-icon slot="icon-only" name="create"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
      <ion-col
        size-sm="6"
        *ngIf="!isLoading && offers.length < 1"
        class="ion-text-center"
      >
        <ion-text color="primary">
          <h4>
            No offers available <br />
            Please add one
          </h4>
          <ion-button color="primary" routerLink="/places/tabs/offers/new">
            Offer new place
          </ion-button>
        </ion-text>
      </ion-col>
      <ion-col size-sm="6" class="ion-text-center" *ngIf="isLoading ">
        <ion-spinner
          name="bubbles"
          color="primary"
          class="vertical_align"
        ></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
