<ion-item [routerLink]="['/', 'places', 'tabs', 'offers', offer.id]">
  <ion-thumbnail slot="start">
    <img [src]="offer.imageUrl" />
  </ion-thumbnail>
  <ion-label>
    <h2>{{ offer.name }}</h2>
    <div class="offer-details">
      <ion-icon name="calendar-number-outline" color="secondary"></ion-icon>
      <ion-text color="tertiary" class="space-left">
        {{ getDummyDate() | date }}
      </ion-text>
      <span class="space-left">to</span>
      <ion-icon
        name="calendar-number-outline"
        color="secondary"
        class="space-left"
      ></ion-icon>
      <ion-text color="tertiary" class="space-left">
        {{ getDummyDate() | date }}
      </ion-text>
    </div>
  </ion-label>
</ion-item>
